services: 
  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    volumes:
      -  ./user-service/storage:/app/storage
  gateway:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes: 
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - user-service
